@charset "UTF-8";
/*====================================================
 Html(Base Font)
====================================================*/
html{/* 文字サイズを10pxへ */
	font-size: 62.5%;
}

a{
	text-decoration: none;
	color: #222;
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}

/*====================================================
 Smartphone and All
======================================================*/

/*----------------------------------------------------
 Body
-------------------------------------------------------*/
body{
	font-size: 1.6rem;
	color: #222;
	background-color: #F0F0F0;
  line-height: 1.8;
  text-align: center;
}



/*----------------------------------------------------
 1.1.1 ログイン画面
-------------------------------------------------------*/

.main_wrapper{
  width:100%;
}

.loginform_wrapper{
  width: 300px;
  height: 200px;
  margin: 50px auto 0;
  text-align: center;
}

.login_form_table th{
	font-weight: normal;
  text-align: right;
}

.login_button input[type="submit"] {
  margin-left: 150px;

}

/*----------------------------------------------------
 1.1.2 メインメニュー
-------------------------------------------------------*/

.mainmenu_wrapper{
	width: 80%;
	margin: 20px auto 50px;
}


.menu_items{
	padding: 30px 0 30px;
	border: 1px solid #ccc;
	position: relative;
	}

.title_menu{
	position: absolute;
	top: -30px;
	left: 10px;
	background-color: #F0F0F0;
	z-index: 99;
	}
.bigbutton{
	width: 300px;
	height: 50px;
	margin: 8px;
}
.smallbutton{
	width:80px;
}
.end{
	margin-top: 30px;
	text-align: right;
}
/*----------------------------------------------------
 1.1.3 検索・更新
-------------------------------------------------------*/
.searchupdate_form_wrapper{
	width: 80%;
	margin: 50px auto 0;
}

.search_form_wrapper{
	position: relative;
	border: 1px solid #ccc;
	margin-bottom: 50px;
}

.search_title_menu{
	position: absolute;
	top: -30px;
	left: 10px;
	background-color: #F0F0F0;
	z-index: 99;
}


.search_form{
	margin: 50px auto 50px;

}

.search_form > input[type="submit"]{
	position: absolute;
	right: 50px;
	width: 80px;
}

.update_form_wrapper{
	position: relative;

}
.update_form_table{
	margin: 0 auto 20px;
}
.update_form_table th{
	font-weight: normal;
	text-align: left;
}
.update_button{
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.update_button input[type="submit"]{
	width: 80px;
	position: absolute;
	left: 1px;
}

.update_button > button{
	position: absolute;
	right: 14px;
	width: 80px;
}

/*----------------------------------------------------
 1.1.4 新規登録
-------------------------------------------------------*/


.insert_form_wrapper{
	width: 80%;
	margin: 50px auto 0;

}

.insert_form_table {
	width: 500px;
	margin: 0 auto 20px;
}

.insert_form_table th{
	width: 100px;
	text-align: left;
	font-weight: normal;
}

.insert_form_table td{
	width: 400px;
	text-align: left;
}

.insert_button{
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.insert_button input[type="submit"]{
	width: 80px;
	position: absolute;
	left: 1px;
}

.insert_button > button{
	position: absolute;
	right: 50px;
}
